.home-container {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.home-home-1 {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;
}

.learn {
  width: 80%;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--primary-color);
}

.enhance {
  width: 80%;
  font-size: 20px;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .home-home-1 {
    flex-direction: column;
  }

  .learn {
    font-size: 40px;
    width: 100%;
  }

  .enhance {
    width: 100%;
  }

  .home-3 {
    grid-template-columns: 1fr;
  }

}

.get-tutor-button {
  padding: 5% 10%;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.arrow-right {
  margin-bottom: -7px;
  margin-left: -5px;
}

.home-1-image-cont {
  border: 5px solid var(--primary-color);
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.home-1-image-cont img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.home-services {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: var(--primary-color);
}

.home-2 {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--primary-color);
  margin-top: 10px;
}

.home-2-con {
  width: 200px;
  height: 150px;
  padding: 10px 10px;
  background-color: var(--light-color);
  border-radius: 20px;
  font-weight: 500;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.home-2-texts {
  text-align: center;
}

.home-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  justify-content: space-between;
}

.home-3-image-con {
  width: 90%;
  border: 5px solid var(--primary-color);
  border-radius: 20px;
}

.home-3-image-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.who-we-are {
  font-size: 40px;
  font-weight: bold;
  color: var(--primary-color);
  padding-bottom: 20px;
}

.home-3-text-cont {
  font-weight: 500;
  font-size: larger;
  color: var(--secondary-color);
}

.home-4 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  background-color: var(--primary-color);
  margin-top: 50px;
  border-radius: 20px;
}

.home-4-image-con-1 {
  width: 600px;
  height: 450px;
  border-radius: 20px;
  margin: 5px;
}

.home-4-image-con-1 img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
}

.join-us-text-con {
  width: 80%;
  text-align: center;
  font-size: 30px;
  margin: auto;
  font-weight: 600;
  color: white;
}

.join-us-button {
  margin-top: 50px;
  border: none;
  padding: 5% 30%;
  border-radius: 20px;
  color: var(--primary-color);
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.home-4-image-con-2 {
  width: 600px;
  height: 450px;
  margin: 5px;
  border-radius: 20px;
  background-color: var(--light-color);
}

.home-4-image-con-2 img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  .home-home-1 {
    grid-template-columns: 1fr;
  }

  .home-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .home-3 {
    grid-template-columns: 1fr;
  }

  .home-4 {
    flex-direction: column;
  }

  .home-4-image-con-1 {
    width: 100%;
  }

  .home-4-image-con-2 {
    width: 100%;
  }
}