.footer-container {
  margin-top: 30px;
  align-items: center;
  text-align: center;
  min-height: 50px;
  background-color: var(--primary-color);
  width: 100%;
}

.top-section-container {
  width: 80%;
  display: flex;
  gap: 150px;
  margin: auto;
  padding: 30px 0;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  gap: 40px;
  text-align: left;
}

.minds {
  text-align: center;
}

.footer-left img {
  width: 150px;
}

.footer-left div {
  width: 100%;
  color: white;
  /* font-size: 1vw; */
}

.footer-middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 30%;
  font-size: 1vw;
  font-weight: 500;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  word-break: keep-all;
  text-overflow: ellipsis;
}

.footer-middle a {
  color: white;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  color: white;
  font-weight: 500;
  text-align: left;
  font-size: 1.4vw;
}

.footer-right img {
  width: 17px;
  height: 15px;
}

.phone-con, .whatsapp-con, .email-con {
  align-items: center;
  display: flex;
  gap: 15px;
}

.footer-hr {
  border-top: 3px solid white;
}

.footer-lower-section {
  width: 80%;
  margin: auto;
  color: white;
  font-size: 1vw;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.lower-right {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.lower-right div {
  cursor: pointer;
}

.footer-right-text {
  text-align: left;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: left;
}

@media screen and (max-width: 769px) {

  .top-section-container {
    flex-direction: column;
    gap: 50px;
  }

  .footer-left {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    margin-bottom: -20px;
  }

  .minds {
    font-size: 3vw;
  }

  .footer-middle {
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: center;
    font-size: 3vw;
    margin-bottom: -20px;
  }

  .footer-right {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
    font-size: 2.5vw;
  }

  .footer-lower-section {
    font-size: 2.5vw;
    padding: 15px 0;
  }

  .footer-right-text {
    font-size: 3vw;
  }

  .footer-contact {
    font-size: 3.5vw;
    gap: 10px;
  }


}