body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7fa;
  margin: 0;
}

.admin-dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.admin-navbar {
  background-color: var(--primary-color);
  padding: 15px 20px;
  border-radius: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f8f9fa;
}

.nav-button,
.logout-button,
.admin-button {
  background-color: var(--hover-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-button:hover,
.logout-button:hover,
.admin-button:hover {
  background-color: var(--secondary-color);
}

.admin-dashboard {
  margin-top: 20px;
}

.user-details {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.blog-post {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  margin-top: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-post:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.blog-post h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.blog-post p {
  color: #555;
  line-height: 1.6;
  font-size: large;
}

.blog-date {
  color: black;
  font-size: medium;
  font-weight: 500;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1em;
  margin-top: 20px;
}

.delete-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.delete-button:active {
  background-color: #bd2130;
  transform: scale(1);
}

.loading,
.error-message {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
  color: #dc3545;
}

@media (max-width: 768px) {
  .admin-navbar {
    padding: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .admin-dashboard-container {
    padding: 10px;
  }

  .admin-dashboard {
    margin-top: 10px;
  }

  .blog-post {
    padding: 10px;
  }
}

