.background-main {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('../images/start.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.background-main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.serve {
  font-size: 40px;
  font-weight: 600;
  color: white;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 150px;
}

.Get-Started {
  width: 80%;
  margin: auto;
}

.start-1 {
  margin-top: 30px;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  color: var(--primary-color);
}

.start-2 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
}

.start-3 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 500;
}

.start-4 {
  font-size: larger;
  font-weight: 500;
}

.start-5 {
  margin: 20px 0;
}

.start-6 {
  font-size: 22px;
  font-weight: 500;
}

.start-6-text {
  resize: none;
  width: 100%;
  font-size: large;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-width: 1px;
}

.start-6, .start-7 {
  text-align: left; /* Align labels to the left */
}

/* Optional: Center the checkboxes and radio buttons if needed */
input[type="radio"], input[type="checkbox"] {
  margin-right: 10px;
  display: inline-block; /* Ensures proper alignment */
}

.start-7-text {
  padding: 15px;
  font-size: large;
  resize: none;
  width: 100%;
  border-width: 1px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.start-7 {
  font-size: large;
  font-weight: 500;
}

.country-div {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.country-div select, .country-div input {
  width: 30%;
  padding: 10px;
  font-size: large;
  border-radius: 10px;
  border-width: 1px;
}

.set-location {
  margin: 0 10px;
}

.gt-lower {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.gt-back {
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  background-color: white;
}

.gt-choose {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .country-div {
    flex-direction: column;
    align-items: flex-start;
  }

  .country-div select, .country-div input {
    width: 100%;
  }

  .set-location {
    margin-top: 10px;
  }

  .country-div input {
    margin-bottom: 15px;
  }

  .serve {
    width: 60%;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: white;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 80px;
  }
}
