.gt-htext {
  width: 80%;
  margin: auto;
  font-size: 35px;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 10px;
  margin-bottom: 20px;
}

.gt-teachers {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; 
}

.teacher-con:hover {
  color: black;
}

.teacher-con {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.gt-image-con img {
  width: 100%; 
  height: auto; 
}

.gt-image-htext {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
  padding-left: 20px;
  color: var(--primary-color);
}

.gt-inner-text {
  font-size: 18px;
  width: 90%;
  margin-top: 10px;
  padding-left: 20px;
}

.gt-lower {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.gt-back {
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  background-color: white;
}

.gt-choose {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .gt-teachers {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .teacher-con {
    width: 100%;
    margin-bottom: 20px;
  }
}
