
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

/* Login Container */
.login-divide {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Headings */
.login-head {
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
    color: var(--secondary-color);
}

.login-sub {
    font-size: 22px;
    margin-top: -30px;
    color: var(--secondary-color);
}

/* Right Section */
.login-right {
    width: 100%;
    height: auto;
}

.login-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Labels */
/* label {
    font-size: large;
    font-weight: 300;
} */

.form-group-login input {
    width: 90%;
    padding: 20px;
    margin: 10px 0;
    font-size: large;
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
}

/* Buttons */
.button-control {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.hideshow {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 3px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.password-control-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: -10px;
}

.login-button {
    padding: 15px 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    font-size: large;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: rgb(1, 1, 77);
}

/* Remember Me Section */
.remember-me {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    text-align: left;
}

/* Sign-up Section */
.sign-control {
    text-align: center;
    margin-top: 10px;
    font-size: larger;
    font-weight: 500;
}

.sign-up {
    padding: 3% 10%;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px 0;
    transition: background-color 0.3s ease;
}

.sign-up:hover {
    background-color: darkgreen;
}

.google-signin {
    text-align: center;
    margin-top: 15px;
  }
  
  .google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .google-button:hover {
    background-color: var(--secondary-color);
  }
  
  .google-icon {
    font-size: 20px;
  }
  

/* Responsive Design */
@media screen and (max-width: 769px) {
    .login-divide {
        margin-top: -50px;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .login-left {
        width: 100%;
    }

    .login-right {
        margin-top: 30px;
        width: 100%;
    }
}
