.login-divide {
    width: 80%;
    margin:  auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-head {
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
    color: var(--secondary-color);
}

.login-sub {
    font-size: 22px;
    margin-top: -30px;
    color: var(--secondary-color);
}

.login-right {
    width: 100%;
    height: auto;
}

.login-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.eemail label {
    font-size: large;
    font-weight: 500;
}

.ppass label {
    font-size: large;
    font-weight: 500;
}

.llogin {
    font-size: 30px;
    color: var(--primary-color);
}

.login-left input {
    width: 90%;
    padding: 20px;
    margin: 10px 0;
    font-size: large;
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
}

.button-control {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.login-button {
    padding: 8% 15%;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    font-size: large;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: left; /* Force text-align left */
    margin-top: 10px;
    padding-left: 0; /* Ensure no padding is pushing it */
    margin-left: 0;  /* Ensure no margin is pushing it */
    gap: 10px;
  }

  .sign-control {
    text-align: center;
    margin-top: 10px;
    font-size: larger;
    font-weight: 500;
  }

  .sign-up {
    padding: 2% 10%;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px 0;
  }


@media screen and (max-width: 769px) {
    .login-divide {
        margin-top: -50px;
        grid-template-columns: 1fr;
    }

    .login-left {
        width: 100%;
    }

    .login-right {
        margin-top: 30px;
        width: 100%;
    }

}